<!DOCTYPE html>
<head>
  <% full_name = @person[:first] + ' ' + @person[:last] %>
  <title>HAPPY BIRTHDAY <%= full_name %>!!!</title>

  <style type="text/css">@import "form.css";</style></head>
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-8311622-5']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
<body>
  <form action="/birthday" method="GET">
    <span class="label">Plural noun:</span> <input name="words[]"/><br/>
    <span class="label">Profession (plural):</span> <input name="words[]"/><br/>
    <span class="label">Noun:</span> <input name="words[]"/><br/>
    <span class="label">Verb ending in -ing:</span> <input name="words[]"/><br/>
    <span class="label">Noun:</span> <input name="words[]"/><br/>
    <span class="label">Collective pronoun (tricky!):</span> <input name="words[]"/><br/>
    <span class="label">Adjective:</span> <input name="words[]"/><br/>
    <span class="label">Adverb:</span> <input name="words[]"/><br/>
    <span class="label">Noun:</span> <input name="words[]"/><br/>
    <span class="label">Plural Noun:</span> <input name="words[]"/><br/>
    <span class="label">Verb (present tense):</span> <input name="words[]"/><br/>
    <span class="label">Noun:</span> <input name="words[]"/><br/>
    <span class="label">Verb (past tense):</span> <input name="words[]"/><br/>
    <span class="label">Noun:</span> <input name="words[]"/><br/>
    <span class="label">Type of vehicle:</span> <input name="words[]"/><br/>
    <span class="label">Adjective:</span> <input name="words[]"/><br/>
    <span class="label">Noun:</span> <input name="words[]"/><br/>
    
    <input class="submit" type="submit" value="Okay...">
  </form>
</body>
</html>