<!DOCTYPE html>
<head>
  <title>UH UH UH! YOU DIDN'T SAY THE MAGIC WORD!</title>
</head>
<body style="background-color: green">
  <img style="margin:200px auto 0; border:0; width:640px; height:496px; display:block" src="magic_word.gif"/>
</body>
</html>